* {
  box-sizing: border-box;
}

html {
  background-color: #F0F6F7;
  font-family: Helvetica, sans-serif;
  color: #41484B;
}

body {
  height: 100vh;
}

canvas {
  width: 100%;
  height: 100%;
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.block {
  padding: 20px;
  background-color: white;
  overflow-y: scroll;
  border-radius: 3px;
  outline-color: #7085FD;
}

.block::-webkit-scrollbar { 
  display: none; 
}